<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="anyframe.oden.eclipse.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="anyframe.oden.eclipse.rcp.Activity"
            pattern="org\.eclipse\.ui\.ide/selectWorkingSets">
      </activityPatternBinding>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="anyframe.oden.eclipse.rcp.application"
            name="Anyframe Oden">
         <property
               name="appName"
               value="Anyframe Oden">
         </property>
         <property
               name="aboutImage"
               value="icons/oden_about.gif">
         </property>
         <property
               name="windowImages"
               value="icons/oden_16.png,icons/oden_32.png,icons/oden_48.png,icons/oden_64.png,icons/oden_128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="The Anyframe Eclipse Plug-Ins are the set of supporting tools for developing or managing applications built with Anyframe Java application framework.&#x0A;&#x0A;Anyframe Eclipse Plug-Ins&#x0A;Copyright 2007, 2008, 2009 SAMSUNG SDS Co., Ltd.&#x0A;&#x0A;These products include softwares developed by SAMSUNG SDS Co., Ltd.(http://www.sds.samsung.com/). The latest distribution of these products and related information are available at http://www.anyframejava.org/.&#x0A;&#x0A;Some other features may be built by linking with various open source software.&#x0A;The original software and related information is available at each open source software information page.">
         </property>
      </product>
   </extension>

</plugin>
