<?xml version="1.0" encoding="UTF-8"?>
<oden>
	<agents>
		<agent name="localhost">
			<address host="localhost" port="9862"/>
			<default-location value="/Users/joon1k/odentest/dest"/>
			<location name="backup" value="/Users/joon1k/odentest/bak"/>
		</agent>
		<agent name="localhost2">
			<address host="localhost" port="9872"/>
			<default-location value="/Users/joon1k/odentest/dest2"/>
			<location name="backup" value="/Users/joon1k/odentest/bak"/>
		</agent>
	</agents>
</oden>
