<?xml version="1.0" encoding="UTF-8" ?>

<oden>
	<agents>
		<!-- Portal Web Servers -->
		<agent name="FLPPOW01">
			<address host="wb1.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW02">
			<address host="wb2.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW03">
			<address host="wb3.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW04">
			<address host="wb4.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW05">
			<address host="wb5.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW06">
			<address host="wb6.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW07">
			<address host="wb7.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW08">
			<address host="wb8.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW09">
			<address host="wb9.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Portal AP Servers -->
		<agent name="FLPPOA01">
			<address host="ap1.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOA02">
			<address host="ap2.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOA03">
			<address host="ap3.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOA04">
			<address host="ap4.xp.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Core AP Servers -->
		<!--  
		<agent name="FLPCOA01">
			<address host="ap1.xp.core.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Core-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCOA02">
			<address host="ap2.xp.core.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Core-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCOA03">
			<address host="ap3.xp.core.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Core-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCOA04">
			<address host="ap4.xp.core.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Core-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCOA05">
			<address host="ap5.xp.core.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Core-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCOA06">
			<address host="ap6.xp.core.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Core-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		-->
		
		<!-- Channel AP Servers -->
		<agent name="FLPCHA01">
			<address host="ap1.xp.channel.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Channel-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCHA02">
			<address host="ap2.xp.channel.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Channel-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCHA03">
			<address host="ap3.xp.channel.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Channel-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCHA04">
			<address host="ap4.xp.channel.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Channel-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCHA05">
			<address host="ap5.xp.channel.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Channel-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCHA06">
			<address host="ap6.xp.channel.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Channel-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Customer AP Servers -->
		<agent name="FLPCUA01">
			<address host="ap1.xp.customer.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Customer-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCUA02">
			<address host="ap2.xp.customer.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Customer-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Call Center AP Servers -->
		<agent name="FLPCCA01">
			<address host="ap1.xp.callcenter.samsunglife.kr" port="9862" />
			<default-location value="/LIB/FSLP/ccruntime/temp" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="CallCenter-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCCA02">
			<address host="ap2.xp.callcenter.samsunglife.kr" port="9862" />
			<default-location value="/LIB/FSLP/ccruntime/temp" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="CallCenter-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Product AP Servers -->
		<agent name="FLPPRA01">
			<address host="ap1.xp.product.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Product-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Batch AP Servers -->
		<agent name="FLPCOBA1">
			<address host="ap1.xp.batch.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Batch-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Campaign AP Servers -->
		<agent name="FLPCRA01">
			<address host="ap1.xp.campaign.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Campaign-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPCRA02">
			<address host="100.254.163.62" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Campaign-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- BPM AP Servers -->
		<!-- 
		<agent name="FLPBPA01">
			<address host="ap1.xp.bpm.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="BPM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPBPA02">
			<address host="ap2.xp.bpm.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="BPM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		 -->
		 
		<!-- IAM AP Servers -->
		<agent name="FLPAMA01">
			<address host="ap1.xp.iam.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="IAM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPAMA02">
			<address host="ap2.xp.iam.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="IAM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- IFRS  -->
		<agent name="FLPFRA01">
			<address host="ap1.p.ifrs.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="IAM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- FLPREA  -->
		<agent name="FLPREA01">
			<address host="100.254.161.55" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="IAM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Staging Server Start -->
		<!-- Portal Web Servers(Staging) -->
		<agent name="FLVPOW01">
			<address host="wb1.xv.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLVPOW02">
			<address host="wb2.xv.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-Web" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Portal AP Servers(Staging) -->
		<agent name="FLVPOA01">
			<address host="ap1.xv.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLVPOA02">
			<address host="ap2.xv.portal.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Portal-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Core AP Servers(Staging) -->
		<agent name="FLVCOA01">
			<address host="ap1.xv.core.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Core-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLVCOA02">
			<address host="ap2.xv.core.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Core-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Channel AP Servers(Staging) -->
		<agent name="FLVCHA01">
			<address host="ap1.xv.channel.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Channel-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLVCHA02">
			<address host="ap2.xv.channel.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Channel-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Customer AP Servers(Staging) -->
		<agent name="FLVCUA01">
			<address host="ap1.xv.customer.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Customer-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLVCUA02">
			<address host="ap2.xv.customer.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Customer-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Call Center AP Servers(Staging) -->
		<agent name="FLVCCA01">
			<address host="ap1.xv.callcenter.samsunglife.kr" port="9862" />
			<default-location value="/LIB/FSLP/ccruntime/temp" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="CallCenter-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLVCCA02">
			<address host="ap2.xv.callcenter.samsunglife.kr" port="9862" />
			<default-location value="/LIB/FSLP/ccruntime/temp" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="CallCenter-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Product AP Servers(Staging) -->
		<agent name="FLVPRA01">
			<address host="ap1.xv.product.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Product-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		
		<!-- Campaign AP Servers(Staging) -->
		<!-- 
		<agent name="FLVCRA01">
			<address host="ap1.xv.campaign.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="Campaign-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		 -->
		 
		<!-- BPM AP Servers(Staging) -->
		<!-- 
		<agent name="FLVBPA01">
			<address host="ap1.xv.bpm.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="BPM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLVBPA02">
			<address host="ap2.xv.bpm.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="BPM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		 -->
		 
		<!-- IAM AP Servers(Staging) -->
		<agent name="FLVAMA01">
			<address host="ap1.xv.iam.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="IAM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLVAMA02">
			<address host="ap2.xv.iam.samsunglife.kr" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="IAM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>		 
		
		<!-- Portal Web External --> 
		<agent name="FLPPOW0A">
			<address host="121.253.31.61" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="IAM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW0B">
			<address host="121.253.31.62" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="IAM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
		<agent name="FLPPOW0C">
			<address host="121.253.31.63" port="9862" />
			<default-location value="/" />
			<backup-location value="/Tools/oden/snapshots" />
			<location name="IAM-AP" value="/" />
			<location name="_RootDirectory" value="/" />
		</agent>
	</agents>
</oden>