<?xml version="1.0" encoding="UTF-8"?>
<oden>
	<agents>
		<agent name="app0">
			<address host="localhost" port="9872"/>
			<default-location value="C:/was/webapps/myapp"/>
			<backup-location value="C:/was/bak/myapp"/>
		</agent>
		<!--  
		<agent name="%agentName2%">
			<address host="%agentHost2%" port="9872"/>
			<default-location value="%agentLoc2%"/>
			<backup-location value="%backupLoc2%"/>
		</agent>
		-->
	</agents>
</oden>
