/* used to convert otherCodeCharacters to code,thus saving character space in HTML for smaller file sizes */
tt{font-size:11px;font-family:Monaco,Courier,Consolas,monospace;}

/* redefine preformated text and code blocks */
pre{font-size:11px;font-family:Monaco,Courier,Consolas,monospace;margin-top:5px;margin-bottom:10px;}
code{font-size:11px;font-family:Monaco,Courier,Consolas,monospace;}

/* Work around IE/Win code size bug - courtesy Jesper,waffle.wootest.net */
* html code{font-size:101%;}
* html pre{font-size:101%;}
img.toplevel{float:left;}

/* frameset:H1,H2,H3,H4,H5,Head for code voice */
h1{margin-top:1em;margin-bottom:25px;font:bold 30px sans-serif;color:#000;}
h2{margin-top:2.5em;font-size:24px;color:#000;padding-bottom:2px;border-bottom:1px solid #919699;}
h3{margin-top:2em;margin-bottom:.5em;font-size:17px;color:#000;}
h3.tight{margin-top:3em;margin-bottom:-.25em;}
h3.tasks{margin-top:8px;margin-bottom:.25em;}
h3.verytight{margin-top:1.75em;margin-bottom:-.25em;}
h4{margin-top:2em;margin-bottom:.5em;font-size:15px;color:#808080;}
h4.toc{padding-top:7px;margin-bottom:2em;}
h5{margin-top:20px;margin-bottom:.5em;padding:0;font-size:13px;color:#808080; font-style:italic}
h5.tight{margin:9px 0 2px 0;}
li img{margin-left:0px;}

/* frameset:content frame bold style for text*/
b{font-family:sans-serif;font-size:12px;font-weight:bold;}

/* frameset:content frame italic style for text*/ 
i{font-family:sans-serif;font-size:12px;font-style:italic;}

/* index page */
.indexes{font-size: 18px;padding-bottom: 5px;margin: 25px 0 15px;border-bottom: 1px solid #91969C;}

/* table styles */
caption.tablecaption{margin-bottom:5px;text-align:left;}
.sourcecodebox{border:1px solid #C7CFD5;background:#F1F5F9;margin:20px 0;}
div.tableholder{margin-top:20px;margin-bottom:20px;}
p.tableholder{margin-bottom:7px;font:12px sans-serif;}
.rowhead p{font-weight:bold;}
.rowhead{background:#E2E2E2;}
.graybox{border-top:1px solid #919699;border-left:1px solid #919699;}
.graybox th{padding:4px 8px 4px 8px;background:#E2E2E2;font-size:12px;border-bottom:1px solid #919699;border-right:1px solid #919699;}
.graybox th p{font-weight:bold;margin-bottom:0px;}
.graybox td{padding:8px;font-size:12px;vertical-align:top;border-bottom:1px solid #919699;border-right:1px solid #919699;}
.graybox td p{margin-bottom:0px;}
.graybox td p + p{margin-top:5px;}
.graybox td p + p + p{margin-top:5px;}

/* boxes and footnote definitions */
.footnote{border-top:1px solid #DDD;margin-top:2em;padding-top:9px;}
.footnote p{color:#76797C;font-size:11px;margin:2px 0px 2px 0px;}
.resourcebox{border:1px solid #AAAAAA;background-color:#EEEEEE;margin:40px 0px 20px 0px;padding:0px 8px 7px 9px;text-align:left;}
.resourcebox p{font:12px sans-serif;margin-top:7px;margin-bottom:0px;}
.resourcebox strong{font-size:15px;color:#990000;}
.notebox{border:1px solid #A1A5A9;background-color:#F7F7F7;margin:20px 0;padding:0px 8px 7px 9px;text-align:left;}
.notebox p{font:12px sans-serif;margin-top:7px;margin-bottom:0px;}
.notebox strong{color:#3879D9;}
.importantbox{border:1px solid #111;background-color:#E8E8E8;margin:20px 20px;padding:0px 8px 7px 9px;}
.importantbox p{font:12px sans-serif;margin-top:7px;margin-bottom:0px;}
.importantbox strong{color:#990000;}
.warningbox{border:1px solid #000;background-color:#FFF;margin:20px 0;padding:0px 8px 7px 9px;text-align:left;}
.warningbox p{border-style:none;font:12px sans-serif;margin-top:7px;margin-bottom:0px;}
div.codesample{border:1px solid #A1A5A9;background-color:#E4EBF7;margin:20px 0;padding:7px 8px 7px 9px;}
.codesample pre{font-size:11px;font-family:Monaco,Courier,Consolas,monospace;margin:-1px 4px -3px 6px;white-space:pre;line-height:14px;}
.codesample span{margin-right:8px;float:right;}
p.codesample{margin-top:20px;margin-bottom:-15px;font:12px sans-serif;}

/* This builds a two color table */ 
.colorbox{border-top:1px solid #919699;border-left:1px solid #919699;border-right:1px solid #919699;margin-bottom:10px;}
.colorbox td{padding:8px;font-size:12px;text-align:left;vertical-align:top;border-bottom:1px solid #919699;}

/* This alternates colors in up to six table rows (light blue for odd, white for even)*/ 
.colorbox tr{background:#F0F5F9;}
.colorbox tr + tr{background:#FFFFFF;}
.colorbox tr + tr + tr{background:#F0F5F9;}
.colorbox tr + tr + tr + tr{background:#FFFFFF;}
.colorbox tr + tr + tr +tr + tr{background:#F0F5F9;}
.colorbox tr + tr + tr + tr + tr + tr{background:#FFFFFF;}
.colorbox tr + tr + tr + tr + tr + tr + tr{background:#F0F5F9;}
